name: cluster-api-events
serviceType: managed

image:
  registry: gsoci.azurecr.io
  name: giantswarm/cluster-api-events
  tag: ""
  pullPolicy: IfNotPresent

pod:
  user:
    id: "65532"
  group:
    id: "65532"

# Add seccomp to pod security context
podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true

# Vertical Pod Autoscaler configuration
verticalPodAutoscaler:
  enabled: true
  updateMode: "Auto"
  minAllowed:
    cpu: "100m"
    memory: "256Mi"
  maxAllowed:
    cpu: "1000m"
    memory: "1Gi"

global:
  podSecurityStandards:
    enforced: false
